<div class="app--tweet">
  <form>
    <div class="circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary align-bottom app--tweet--post">
        <div class="app--avatar" style="background-image: url(images/m-spore.png)">
          <img src="images/m-spore.png" />
        </div>

        <textarea class="circle--textarea--input" placeholder="What's happening?" id="tweet-textarea"></textarea>
        <strong class="app--tweet--char" id="tweet-char">140</strong>
      </div>
      <div class="circle--fluid--cell align-bottom">
        <button class="button-primary">Tweet</button>
      </div>
    </div>
  </form>
</div>
