.app--tweet
    form(id = "tweet_form" action = '/new',method = 'post')
        .circle--fluid
          .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
            .app--avatar(style= `background-image: url(${profile_image_url})`)
              img(src=`${profile_image_url}`)
            |         
            textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?",name= 'userinput')
            |         
            strong#tweet-char.app--tweet--char 140
          |       
          .circle--fluid--cell.align-bottom
            button.button-primary(type = "submit") Tweet
